language: node_js
node_js:
  - '9'
install: npm install
script:
  - npm run tsc
  - npm run test
deploy:
  provider: npm
  email: l.gholoi@outlook.com
  api_key:
    secure: jJJ4sdk7xEXuVUuI4jNBYU+/qBHnpgUev++8WwMgBiUZjoe5em5TQMF9p7WdrolR4L/BvdTGW+V+G+MwPoM6e3FSxAS/zjtl6O1QtHERA1krF7fKKlgkUqfsRLHgmXVV5hCFxxbYeOQTOuj4G0+onil5DPI3EGhA9v9EoiPUOZ/DyESKOR9RpFqy7d0Pw8Aw/69/sOsW7FIYb0SjrKOeSk1FN/F1RwJc5WWTBY4Vevq+5DkhzkdDX4XoZB9eFmL+oAZ/GHEqos/B3thKu6aNZXfwzGNVIi+ae2M4DMd0IpTiG9cWxPxvaKod4SXVBLvNL0QSsnDX9jZVRGVtVbNVGUh39oRrsSwB/VKXssnujsfEGtXk9HN0phPHTZODnfvm0Onxk0YBq28KPSNFaXQFC7eQKxAk4OBi6+JaNFMD/B+1iJifitynXKJ8fmLjbSw4wntjfrkG9ujhskN05PlVNGoLGRFayCi2SSvv5WfWuAtXfj/huHY+W1ehZWfMt33DOh/fSquvxOvY9pzEkxprtsnyOto3vOFeDEcduGbpCk68drrFD0FiPQLEOZDxYP46GlZBkOj5R/nNZQhT2OIsmDic05OiRfK1hX+L2lUzNdjfCa0Hd0eaxOMgDHf3YX0KTCbJt6O0kIu7gHU4OfN0XaHBJCavesLzu4asqf3vugg=
  on:
    tags: true
    branch: master
  skip_cleanup: true